<div>

  <table class="posts">
    <tr>
      <th>
        <%= link_to "Title", :sort => 'title' %>
      </th>
      <th>
        Posted By
      </th>
      <th>
        <%= link_to "Posted On", :sort => 'created_at' %>
      </th>
      <th>
        <%= link_to "Average Rating", :sort => 'rating DESC' %>
      </th>
      <th>

      </th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post.title, post_path(post) %>
      </td>
      <td>
        <%= post.user %>
      </td>
      <td>
        <%= (post.formatted_time)%>
      </td>
      <td>
        <%= render 'layouts/rating_star', rating: post.average_review_score %>
      </td>
      <td>
        <%= link_to "Edit", edit_post_path(post)%> | <%= link_to "Delete", post_path(post) ,
        :data => {:confirm => "Are you sure?",
          :method => "delete"} %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div id="search">
  <h3>Search</h3>
  <%= form_tag("/posts", method: "get") do %>
    <%= label_tag(:search_string, "Search for:") %>
    <%= text_field_tag(:search_string) %>
    <%= submit_tag("Search") %>
  <% end %>

  <p>
    Results: <%= @search_results.length %>
  </p>

  <ul>
    <% @search_results.each do |result| %>
      <li><%= link_to result.title, post_path(result) %></li>
    <% end %>
  </ul>
</div>
