<h1><%= @post.title %></h1>
<h4><%= @post.description %></h4>

<% @post.rating.times do %>
  <span class="glyphicon glyphicon-star rating"></span>
<% end %>

<h3>Posted By: <%= @post.user %> on: <%= @post.formatted_time%></h3>


<%= link_to 'Posts', posts_path %>
